@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@Environment.GetEnvironmentVariable("WEBSITE_SITE_NAME") - Azure Web Site Log Browser</title>
        <link rel="stylesheet" href="Content/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="Content/css/jquery.dataTables.css" type="text/css" />
        <link href="Content/css/thatlog.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">

            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <a href="https://github.com/amitapl/ThatLogExtension"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="~/"><img src="Content/images/logbrowser.gif" class="img" style="height: 100px;" /></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="~/"><h2>Azure Web Site Log Browser</h2></a></li>
                    </ul>
                </div>
            </div>

            <h3 id="currentRoot"></h3>
            <h4 id="currentPath"></h4>
            <table class="table table-striped" id="logBrowser" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Log File / Directory</th>
                        <th>Date</th>
                        <th>Size</th>
                    </tr>
                </thead>
            </table>
        </div>

        <script src="Content/js/jquery-1.10.1.min.js"></script>
        <script src="Content/js/bootstrap.js"></script>
        <script src="Content/js/jquery.dataTables.js"></script>
        <script src="Content/js/moment.min.js"></script>
        <script src="Content/js/thatlogextension.js"></script>
        <script>
            var firstUrl = null;

            window.onpopstate = function (evt) {
                if (evt.state) {
                    refresh(evt.state.refreshUrl, true);
                }
            };

            function refresh(refreshUrl, historyCall) {
                window.location.hash = '#' + refreshUrl.substring(refreshUrl.indexOf('api/log?path=') + 'api/log?path='.length);

                if (!historyCall) {
                    var stateObj = { refreshUrl: refreshUrl };

                    if (!firstUrl) {
                        history.replaceState(stateObj, null, null);
                    } else {
                        history.pushState(stateObj, null, null);
                    }
                }

                $.get(refreshUrl, function (data) {
                    $("#currentRoot").html(data.Root);
                    $("#currentPath").html(data.Path);

                    var items = data.Items;

                    items.forEach(function (item) {
                        item.Date = item.Date || null;
                        item.date = item.Name !== ".." && item.Date ? moment(item.Date).format('L LT') : null;
                        item.size = item.Name !== ".." ? item.Size : null;
                        if (item.IsDirectory) {
                            var icon1 = '<i class="glyphicon glyphicon-folder-open yellow"></i>';
                            var onclickurl = 'onclick="refresh(\'' + item.Url + '\');"';
                            if (item.ExternalUrl) {
                                item.name = '<a id="directoryLink" class="pointer" href="' + item.ExternalUrl + '">' + icon1 + '</a>&nbsp;&nbsp;&nbsp;&nbsp;' + '<a id="directoryLink" class="pointer" href="' + item.ExternalUrl + '">' + item.Name + '</a>';
                            } else {
                                item.name = '<a id="directoryLink" class="pointer" ' + onclickurl + '>' + icon1 + '</a>&nbsp;&nbsp;&nbsp;&nbsp;' + '<a id="directoryLink" class="pointer" ' + onclickurl + '>' + item.Name + '</a>';
                            }
                            item.downloadUrl = '';
                        } else {
                            var icon2 = '<i class="glyphicon glyphicon-file yellow"></i>&nbsp;&nbsp;&nbsp;&nbsp;';
                            item.name = icon2 + '<a href="viewlog.cshtml?url=' + encodeURIComponent(item.DownloadUrl) + '&fileName=' + item.Name + '" >' + item.Name + '</a>';
                            item.downloadUrl = '<a href="' + item.DownloadUrl + '"><i class="glyphicon glyphicon-download-alt"></i></a>';
                        }
                    });
                    $('#logBrowser').dataTable({
                        "destroy": "true",
                        "data": items,
                        "paging": false,
                        "searching": false,
                        "orderFixed": [[ 0, 'asc' ], [1, 'desc']],
                        "columns": [
                            {
                                "width": "20px",
                                "data": "downloadUrl",
                                "orderable": false
                            },
                            {
                                "width": "0px",
                                "data": "Date",
                                "visible": false
                            },
                            {
                                "data": "name",
                                "orderable": false
                            },
                            {
                                "data": "date",
                                "orderable": false
                            },
                            {
                                "data": "size",
                                "orderable": false
                            }
                        ]
                    });
                }, "json");
            }

            $(document).ready(function () {
                var hash = window.location.hash;
                if (hash) {
                    refresh('api/log?path=' + hash.substring(1));
                } else {
                    refresh('api/log?path=');
                }
            });
        </script>
    </body>
</html>
