@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Azure Web Site Log Browser</title>
        <link rel="stylesheet" href="Content/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="Content/css/jquery.dataTables.css" type="text/css" />
        <link href="Content/css/thatlog.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-nav">
                    <a href="~/"><h1 class="navbar-brand">Azure Web Site Log Browser</h1></a>
                </div>
            </div>
            <div class="header"></div>
            <h3 id="currentRoot"></h3>
            <h4 id="currentPath"></h4>
            <table class="table table-striped" id="logBrowser" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Log File / Directory</th>
                        <th>Size</th>
                    </tr>
                </thead>
            </table>
        </div>

        <script src="Content/js/jquery-1.10.1.min.js"></script>
        <script src="Content/js/bootstrap.js"></script>
        <script src="Content/js/jquery.dataTables.js"></script>
        <script>
            var firstUrl = null;

            window.onpopstate = function (evt) {
                if (evt.state) {
                    refresh(evt.state.refreshUrl, true);
                }
            };

            function goBack() {
                history.go(-1);
            }

            function refresh(refreshUrl, historyCall) {
                if (!historyCall) {
                    var stateObj = { refreshUrl: refreshUrl };

                    if (!firstUrl) {
                        firstUrl = refreshUrl;
                        history.replaceState(stateObj, null, null);
                    } else {
                        history.pushState(stateObj, null, null);
                    }
                }

                $.get(refreshUrl, function (data) {
                    $("#currentRoot").html(data.Root);
                    $("#currentPath").html(data.Path);

                    var items = data.Items;
                    items.sort(function(a, b) {
                        return a.IsDirectory === b.IsDirectory ? 0 : b.IsDirectory ? 1 : -1;
                    });
                    if (firstUrl != refreshUrl) {
                        items.unshift({ Name: "..", IsDirectory: true, Size: null });
                    }

                    items.forEach(function (item) {
                        if (item.IsDirectory) {
                            var icon1 = '<i class="glyphicon glyphicon-folder-close"></i>&nbsp;&nbsp;&nbsp;&nbsp;';
                            var onclickurl = item.Name !== '..' ? 'onclick="refresh(\'' + item.Url + '\');"' : 'onclick="goBack();"';
                            item.name = icon1 + '<a id="directoryLink" class="pointer" ' + onclickurl + '>' + item.Name + '</div>';
                            item.downloadUrl = null;
                        } else {
                            var icon2 = '<i class="glyphicon glyphicon-file"></i>&nbsp;&nbsp;&nbsp;&nbsp;';
                            item.name = icon2 + '<a href="' + item.DownloadUrl.replace('api/log', 'viewlog.cshtml') + '" >' + item.Name + '</a>';
                            item.downloadUrl = '<a href="' + item.DownloadUrl + '"><i class="glyphicon glyphicon-download-alt"></i></a>';
                        }
                    });
                    $('#logBrowser').dataTable({
                        "destroy": "true",
                        "data": items,
                        "paging": false,
                        "ordering": false,
                        "searching": false,
                        "order": [ 1, 'asc' ],
                        "columns": [
                            {
                                "width": "20px",
                                "data": "downloadUrl"
                            },
                            { "data": "name" },
                            { "data": "Size" }
                        ]
                    });
                }, "json");
            }

            $(document).ready(function () {
                refresh('api/log?type=&path=');
            });
        </script>
    </body>
</html>
