@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Azure Web Site Log Browser</title>
        <link rel="stylesheet" href="Content/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="Content/css/jquery.dataTables.css" type="text/css" />
        <link href="Content/css/thatlog.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-nav">
                    <a href="~/"><h1 class="navbar-brand">Azure Web Site Log Browser</h1></a>
                </div>
            </div>
            <div class="header"></div>
            <h3 id="currentRoot"></h3>
            <h4 id="currentPath"></h4>
            <table class="table table-striped" id="logBrowser" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Log File / Directory</th>
                        <th>Date</th>
                        <th>Size</th>
                    </tr>
                </thead>
            </table>
        </div>

        <script src="Content/js/jquery-1.10.1.min.js"></script>
        <script src="Content/js/bootstrap.js"></script>
        <script src="Content/js/jquery.dataTables.js"></script>
        <script src="Content/js/moment.min.js"></script>
        <script src="Content/js/thatlogextension.js"></script>
        <script>
            var firstUrl = null;

            window.onpopstate = function (evt) {
                if (evt.state) {
                    refresh(evt.state.refreshUrl, true);
                }
            };

            function refresh(refreshUrl, historyCall) {
                if (!historyCall) {
                    var stateObj = { refreshUrl: refreshUrl };

                    if (!firstUrl) {
                        firstUrl = refreshUrl;
                        history.replaceState(stateObj, null, null);
                    } else {
                        history.pushState(stateObj, null, null);
                    }
                }

                $.get(refreshUrl, function (data) {
                    $("#currentRoot").html(data.Root);
                    $("#currentPath").html(data.Path);

                    var items = data.Items;

                    if (firstUrl != refreshUrl) {
                        items.unshift({ Name: "..", Date: new Date( 100000000*86400000), IsDirectory: true, Size: null });
                    }

                    items.forEach(function (item) {
                        item.Date = item.Date || null;
                        item.date = item.Name !== ".." && item.Date ? moment(item.Date).format('L LT') : null;
                        if (item.IsDirectory) {
                            var icon1 = '<i class="glyphicon glyphicon-folder-open yellow"></i>&nbsp;&nbsp;&nbsp;&nbsp;';
                            var onclickurl = item.Name !== '..' ? 'onclick="refresh(\'' + item.Url + '\');"' : 'onclick="goBack();"';
                            if (item.ExternalUrl) {
                                item.name = icon1 + '<a id="directoryLink" class="pointer" href="' + item.ExternalUrl + '">' + item.Name + '</a>';
                            } else {
                                item.name = icon1 + '<a id="directoryLink" class="pointer" ' + onclickurl + '>' + item.Name + '</a>';
                            }
                            item.downloadUrl = null;
                        } else {
                            var icon2 = '<i class="glyphicon glyphicon-file yellow"></i>&nbsp;&nbsp;&nbsp;&nbsp;';
                            item.name = icon2 + '<a href="viewlog.cshtml?url=' + encodeURIComponent(item.DownloadUrl) + '" >' + item.Name + '</a>';
                            item.downloadUrl = '<a href="' + item.DownloadUrl + '"><i class="glyphicon glyphicon-download-alt"></i></a>';
                        }
                    });
                    $('#logBrowser').dataTable({
                        "destroy": "true",
                        "data": items,
                        "paging": false,
                        "searching": false,
                        "orderFixed": [[ 0, 'asc' ], [1, 'desc']],
                        "columns": [
                            {
                                "width": "20px",
                                "data": "downloadUrl",
                                "orderable": false
                            },
                            {
                                "data": "Date",
                                "visible": false
                            },
                            {
                                "data": "name",
                                "orderable": false
                            },
                            {
                                "data": "date",
                                "orderable": false
                            },
                            {
                                "data": "Size",
                                "orderable": false
                            }
                        ]
                    });
                }, "json");
            }

            $(document).ready(function () {
                refresh('api/log?type=&path=');
            });
        </script>
    </body>
</html>
