<div class="row">
    <h4>
        <span class="bold">View Stories From Azure Table Storage</span>

        <div id="reportrange" class="pull-right" type="daterange"
             ng-model="daterange"
             enableTimePicker="true"
             ranges="ranges"
             separator="/" style="margin-bottom: 40px; cursor: pointer">
            <i class="glyphicon glyphicon-calendar"></i>
            <span></span><b class="caret"></b>
            <span>{{daterangeTitle}}</span>
        </div>
    </h4>
</div>

<div class="row">
    <div class="col col-sm-4 col-sm-offset-8">
        Global Search: <input class="form-control" type="text" ng-model="filter.$" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table ng-table="tableParams" class="table" show-filter="false">
            <tr class="link" ng-repeat="story in $data" ui-sref="show-story({story: story})">
                <td title="'Date'" sortable="'date'">
                    {{story.date}}
                </td>
                <td title="'Instance Id'">
                    {{story.instanceId}}
                </td>
                <td title="'Name'" sortable="'name'">
                    {{story.namesStr}}
                </td>
                <td title="'Duration'">
                    {{story.story.elapsed}}
                </td>
            </tr>
        </table>
    </div>
</div>

<div ng-if="loading" class="row">
    <div class="col col-sm-offset-6 col-sm-1 center">
        <img src="Content/ajax-loader.gif">
    </div>
</div>

<p class="text-center" ng-if="canLoadMore">
    <button class="btn btn-warning" on-click="loadMore">Load More</button>
</p>

<br />
