@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Environment.GetEnvironmentVariable("WEBSITE_SITE_NAME") - Azure Web Site Log Browser - View Story</title>
    <link rel="stylesheet" href="Content/css/bootstrap.css" type="text/css" />
    <link href="Content/css/thatlog.css" rel="stylesheet" />
    <link href="Content/css/daterangepicker-bs3.css" rel="stylesheet" />

    <script src="Content/js/jquery-1.10.1.min.js"></script>
    <script src="Content/js/bootstrap.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="Content/js/angular-ui-router.min.js"></script>

    <script src="Content/js/angular-json-explorer.min.js"></script>
    <link rel="stylesheet" href="Content/css/angular-json-explorer.css">
    <link rel="stylesheet" href="Content/css/angular-ui-tree.min.css">
    <script type="text/javascript" src="Content/js/angular-ui-tree.min.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/esvit/ng-table/master/dist/ng-table.min.css">
    <script src="https://cdn.rawgit.com/esvit/ng-table/master/dist/ng-table.js"></script>
    <script src="Content/js/moment.min.js"></script>
    <script src="Content/js/daterangepicker.js"></script>
    <script src="Content/js/ng-bs-daterangepicker.min.js"></script>

    <script src="Content/js/story.js"></script>
</head>
<body>
    <div ng-app="viewstory">
        <div class="container">

            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <a href="https://github.com/amitapl/ThatLogExtension"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="~/"><img src="Content/images/logbrowser.gif" class="img" style="height: 100px;" /></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="~/">
                                <h2>Azure Web Site Log Browser</h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-view></div>
        </div>
    </div>
</body>
</html>
