@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@Environment.GetEnvironmentVariable("WEBSITE_SITE_NAME") - Azure Web Site Log Browser - View Log</title>
        <link rel="stylesheet" href="Content/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="Content/css/jquery.dataTables.css" type="text/css" />
        <link href="Content/css/prism.css" rel="stylesheet" />
        <link href="Content/css/thatlog.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <a href="https://github.com/amitapl/ThatLogExtension"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="~/"><img src="Content/images/logbrowser.gif" class="img" style="height: 100px;" /></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="~/"><h2>Azure Web Site Log Browser</h2></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <form class="form-horizontal" role="form" id="search-form">
                    <div class="col-sm-8">
                        <img src="Content/ajax-loader.gif" id="loading-indicator" style="display: inline;" />
                        <h4 id="fileName" style="display: inline;"></h4>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="text-search" placeholder="Search..." />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row line-numbers">
                <pre class="line-numbers"><code id="filecontent"></code></pre>
            </div>
        </div>

        <script src="Content/js/jquery-1.10.1.min.js"></script>
        <script src="Content/js/bootstrap.js"></script>
        <script src="Content/js/jquery.dataTables.js"></script>
        <script src="Content/js/prism.min.js"></script>
        <script src="Content/js/thatlogextension.js"></script>
        <script>
            $(document).ready(function () {
                $('#search-form').submit(function (evt) {
                    var searchTerm = $('#text-search').val();

                    $('body').removeHighlight();

                    if (searchTerm) {
                        $('body').highlight(searchTerm);
                    }

                    evt.preventDefault();
                });

                $('#fileName').text(getParameterByName('fileName'));
                var url = getParameterByName('url');
                if (url) {
                    $.get(url, function(data) {
                        var langDetect = url.indexOf('.xml') >= 0 || url.indexOf('.htm') >= 0 ? 'language-markup' : 'language-python';
                        $("#filecontent").text(data);
                        $("#filecontent").addClass(langDetect);
                        Prism.highlightAll();
                        $('#loading-indicator').hide();
                    });
                }
            });
        </script>
    </body>
</html>
