@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Azure Web Site Log Browser</title>
        <link rel="stylesheet" href="Content/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="Content/css/jquery.dataTables.css" type="text/css" />
        <link href="Content/css/prism.css" rel="stylesheet" />
        <link href="Content/css/thatlog.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="header"></div>
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-nav">
                    <a href="~/"><h1 class="navbar-brand">Azure Web Site Log Browser</h1></a>
                </div>
            </div>
            <div class="row">
                <form class="form-horizontal" role="form" id="search-form">
                    <div class="col-sm-offset-8 col-sm-4">
                        <div class="input-group">
                                <input type="text" class="form-control" id="text-search" placeholder="Search..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                </form>
            </div>
            <div class="row">
                <pre class="line-numbers"><code class="language-markup" id="filecontent"></code></pre>
                <img src="Content/ajax-loader.gif" id="loading-indicator" style="text-align: center" />
            </div>
        </div>

        <script src="Content/js/jquery-1.10.1.min.js"></script>
        <script src="Content/js/bootstrap.js"></script>
        <script src="Content/js/jquery.dataTables.js"></script>
        <script src="Content/js/prism.min.js"></script>
        <script>
            jQuery.fn.highlight = function (pat) {
                function innerHighlight(node, pat) {
                    var skip = 0;
                    if (node.nodeType == 3) {
                        var pos = node.data.toUpperCase().indexOf(pat);
                        if (pos >= 0) {
                            var spannode = document.createElement('span');
                            spannode.className = 'highlight';
                            var middlebit = node.splitText(pos);
                            var endbit = middlebit.splitText(pat.length);
                            var middleclone = middlebit.cloneNode(true);
                            spannode.appendChild(middleclone);
                            middlebit.parentNode.replaceChild(spannode, middlebit);
                            skip = 1;
                        }
                    }
                    else if (node.nodeType == 1 && node.childNodes && !/(script|style)/i.test(node.tagName)) {
                        for (var i = 0; i < node.childNodes.length; ++i) {
                            i += innerHighlight(node.childNodes[i], pat);
                        }
                    }
                    return skip;
                }
                return this.each(function () {
                    innerHighlight(this, pat.toUpperCase());
                });
            };

            jQuery.fn.removeHighlight = function () {
                function newNormalize(node) {
                    for (var i = 0, children = node.childNodes, nodeCount = children.length; i < nodeCount; i++) {
                        var child = children[i];
                        if (child.nodeType == 1) {
                            newNormalize(child);
                            continue;
                        }
                        if (child.nodeType != 3) { continue; }
                        var next = child.nextSibling;
                        if (next == null || next.nodeType != 3) { continue; }
                        var combined_text = child.nodeValue + next.nodeValue;
                        new_node = node.ownerDocument.createTextNode(combined_text);
                        node.insertBefore(new_node, child);
                        node.removeChild(child);
                        node.removeChild(next);
                        i--;
                        nodeCount--;
                    }
                }

                return this.find("span.highlight").each(function () {
                    var thisParent = this.parentNode;
                    thisParent.replaceChild(this.firstChild, this);
                    newNormalize(thisParent);
                }).end();
            };

            $(document).ready(function () {
                $('#search-form').submit(function (evt) {
                    // pull in the new value
                    var searchTerm = $('#text-search').val();

                    // remove any old highlighted terms
                    $('body').removeHighlight();

                    // disable highlighting if empty
                    if (searchTerm) {
                        // highlight the new term
                        $('body').highlight(searchTerm);
                    }

                    evt.preventDefault();
                });

                var url = 'api/log' + window.location.search;
                $.get(url, function (data) {
                    $("#filecontent").text(data);
                    Prism.highlightAll();
                    $('#loading-indicator').hide();
                });
            });
        </script>
    </body>
</html>
