html {
    height: 100%;
    min-height: 100%;
}

body {
    padding-top: 140px;
    padding-bottom: 20px;
    height: 100%;
    min-height: 100%;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

.pointer {
    cursor: pointer;
    color: black;
}

.container {
    height: 100%;
    min-height: 100%;
    width: 96%;
}

.line-numbers {
    word-wrap: normal;
    height: calc(100% - 10px); /* IE9+ and future browsers */
    height: -moz-calc(100% - 10px); /* Firefox */
    height: -webkit-calc(100% - 10px); /* Chrome, Safari */
}

.highlight {
    background-color: #fff38d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}

.highlight {
    padding: 1px;
}

.yellow {
    color: black;
}

.blue {
    color: darkblue;
}

.bold {
    font-weight: bold;
}

.sorting, .sorting_asc, .sorting_desc {
    background: none;
}

#logBrowser_wrapper {
    margin-bottom: 20px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}
